.footer{
    width: 100%;
    height: 55px;
    bottom: 0;
    /* background-color: rgb(236, 243, 253); */
    background-color: white;
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  .footer-align{
    display: flex;
    flex-direction: column;
    align-items: center;
  }